<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= turbo_stream_from "posts" %>
<% if user_signed_in? %>
  <%
=begin%>
 <div class="btn btn-primary">
    <%= link_to 'New Post', new_post_path, :class => "btn" %>
  </div> 
<%
=end%>

  <%= turbo_frame_tag "post_form" do %>
    <%= render "posts/form", post: @post %>
  <% end %>
<% else %>
  <div>
    <h3>Please Sign In to create Posts</h3>
  </div>
<% end %>

<%= turbo_frame_tag "posts" do %>
  <div id="posts" class="mt-4">
    <% @posts.reverse_each do |post| %>
      <%= render post %>
    <% end %>
  </div>
<% end %>
